html {
	height: 100%
}
body {
	margin: 0;
	overflow:hidden;
	height:100%
}
.LeTout{
	display : flex;
	flex-direction: row;

}
form{
	display : flex;
  flex-direction: column;
	position : fixed;

}
#pieddepage{
	display:flex;
	flex-direction: row;
	margin-left:560px; 
}
img{
	width:15%;
	height:15%;

}
.formulaire{
	width: 164px;
		color: black;
}
select{
	width:160px;
	 background-color: #f99bee;
}
fieldset{
	display: flex;
	flex-direction: column;
}
#ajout{
	margin-top: 100px;
	margin-left: 10px;

}

input{
 width:160px;
 	background-color:#f99bee;
	color:black;
	border-width: 0.3px;
}
option{
	width:160px;
  	background-color: #f99bee;
}
#test{
	margin:12px;
}

#viewerDiv {
    margin : auto auto;
		width:85%;
		height: 800px;
		margin-right: 0;
}
#menuDiv {
	position: absolute;
	top:0px;
	margin-right: 0px;
}
