html {
	height: 100%
}
body {
	margin: 0;
	overflow:hidden;
	height:100%
}
#LeTout{
	display : flex;
	flex-direction: row;
}
form{
	display : flex;
  flex-direction: column;
	position : fixed;

}
.formulaire{
	width: 164px;
		color: black;
}
.coordone input{
	width: 50px;
}
select{
	width:160px;
	 background-color: #f99bee;
}
input{
 width:160px;
 	background-color:#f99bee;
	color:black;
	    border-width: 0.3px;
}
option{
	width:160px;
  	background-color: #f99bee;
}
#viewerDiv {
    margin : auto auto;
		width:85%;
		height: 1000px;
		margin-right: 0;
}
#menuDiv {
	position: absolute;
	top:0px;
	margin-right: 0px;

}
